<%= stylesheet_link_tag "login" %>
<body>

  <nav class="login_nav"> 
  <ul>
    <a class="nav_link image" href="./index.html"><%=image_tag 'back.svg'%></a> 
    <%= link_to 'LOG IN', new_user_session_path, class:'login' %> 
    <%= link_to 'Sign up', new_user_registration_path, class:'td_none login_font3a' %>
  </ul>
    </nav>
    <main class="login_main">
<section class="sect-one-login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data:{turbo: false}) do |f| %>
    
    <div class="field login_fieldset">
      <%# <%= f.label :email %>
      <%# <br /> %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
    </div>

    <div class="field login_fieldset">
      <%# <%= f.label :password %>  
      <%# <br /> %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions land_footer_fieldset">
      <%= f.submit "Log in", class:"login_input login_footer_fieldset" %>
    </div>
  <% end %>

  <p>
  <%= link_to 'Forgot password ?', new_user_password_path, class:'td_none login_font3a' %></p>

  <p>
  <%= link_to 'Sign up', new_user_registration_path, class:'td_none login_font3a' %></p>

  <p>
  <%= link_to 'Did not receive confirmation instructions?', new_user_confirmation_path, class:'td_none login_font3a' %></p>
</section>
  </main>
</body> 