<%= stylesheet_link_tag "transaction" %>
<body class="body">
    
        <nav class="transaction-nav">
        <ul>
        <a class="image" href="./index.html"> <%=image_tag 'hamburger.png'%></a>
            <a class="td_none home_font1" href="">TRANSACTIONS</a> 
            <%= button_to ('Log Out'), destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class:"sign_out_btn register_font2 td_none" %>
        </ul>
            </nav>
    

            <main class="home_main">

            <section class="home_section1">
                <ul class="list_box list_style_none">
                    <li class="home_opacity1"><a href="" class="td_none">Recent</a></li>
                    <li><a href="" class="td_none home_font1">Recent</a></li>
                    <li><a href="" class="td_none home_font1">Ancient</a></li>
                </ul>
            </section>
    
            <section class="home_section2">
            <% @payments.each do |payment| %>
         
       
                <article class="home_section2_article">
                    <div class="home_section2_article_box1">
                        <figure>
                            <% payment.categories.each do |key| %> 
                        <%=image_tag key.icon%>
                        <%end%>
                        </figure>
                        <div class="home_section2_article_box1_details">
                            <p class="home_font2"><%= link_to payment.name, payment, class:"td_none home_font2" %></p>
                            <p class="home_font2"><%=payment.created_at.strftime('%d %B %Y')%></p>
                        </div>
                    </div>
                    <div>
                        <p class="home_font3">$<%= payment.amount %></p>
                    </div>
                </article> 
            <% end %>
            </section>
    
            <section class="home_section3">
                <button>
                 <%= link_to "New Transaction", new_category_payment_path(@category), class:"td_none home_font4", data:{turbo: false} %> </button>
            </section>
    
        </main>

</body>


   
