<%= stylesheet_link_tag "add-category" %>
<body class="body">
     
        <nav class="new-add-category-nav"> 
        <ul>
                <a class="image" href="./index.html"><img src="./img/back.svg" alt=""></a> 
                <a class="td_none register_font1" href="./register.html">CATEGORY</a>
                <a class="td_none register_font2" href="./land.html">Next</a> 
                </ul>
        </nav>
   
        <main class="add-category-main">
        <section class="sect-one">
  <%= form_with(model: category, multipart: true, data:{turbo: false}) do |form| %>
    <% if category.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="register_fieldset"> 
      <%= form.text_field :name, placeholder:"Name" %>
    </div>

    <div class="register_fieldset icon_box">
      <%= form.label :icon, style: "display: block" %>
      <%= form.file_field :icon, class:"inputfile" %>
    </div>

    <div class="actions register_fieldset">
      <%= form.submit class:"login_input login_footer_fieldset" %>
    </div>
  <% end %>
</section>
</main>
</body>