<% stylesheet_link_tag "category_show" %>
<body class="body">
    
<nav class="nav_category-show" >
<ul>
        <a class="image" href="./index.html"> <%=image_tag 'hamburger.png'%></a>
        <a class="td_none home_font1" href="./register.html">CATEGORIES</a> 
        <%= button_to ('Sign Out'), destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class:"sign_out_btn" %>
</ul>
        </nav>
    

    <main> 

       <section class="sect-one">

        <div class="sect-one-cat-show-container">
            <div class="sect-one-container-item-one">
                <%=image_tag @category.icon%>
                <p><%= @category.name %></p> 
            </div> 

            <div class="category-details">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate cupiditate laborum molestias quo omnis laudantium hic quod quaerat labore? Cum doloribus minus illum ad! Nisi quod fuga omnis consequuntur deleniti.</p> 
            </div> 

            <div class="transaction-detals">
                <p class="details_font3 details_font4">Transaction N000<%= @category.id %>.</p>
                <p class="details_font5">
                <%=@category.created_at.strftime('%d %B %Y')%>
                </p>
            </div>

            <div > 
                <p >TOTAL PAYMENT </p>              
                    
                <p > $<%= @category.total_category_amount %></p>  
            </div>  
 
        </div>
        
       </section>

         <section class="sect-two-category-show">
            <button> <%= link_to "New Transaction", new_category_payment_path(@category), class:"td_none home_font4", data:{turbo: false} %>  </button>
        </section>
        
    </main> 

</body>